Vagrantfile
setup.sh
.DS_Store
.vagrant/
.idea/
.modgit/
/*.sql
/apc.php
app/code/community/Find/
app/code/community/Phoenix/
app/code/community/Cm/
app/code/core/
app/design/adminhtml/default/find/
app/design/frontend/default/blank/
app/design/frontend/default/iphone/
app/design/frontend/default/modern/
app/design/frontend/enterprise/default
app/design/install/
app/etc/modules/Enterprise_*
app/etc/modules/Find_Feed.xml
app/etc/modules/Mage_All.xml
app/etc/modules/Mage_Api.xml
app/etc/modules/Mage_Api2.xml
app/etc/modules/Mage_Authorizenet.xml
app/etc/modules/Mage_Bundle.xml
app/etc/modules/Mage_Captcha.xml
app/etc/modules/Mage_Centinel.xml
app/etc/modules/Mage_Compiler.xml
app/etc/modules/Mage_Connect.xml
app/etc/modules/Mage_CurrencySymbol.xml
app/etc/modules/Mage_Downloadable.xml
app/etc/modules/Mage_ImportExport.xml
app/etc/modules/Mage_LoadTest.xml
app/etc/modules/Mage_Oauth.xml
app/etc/modules/Mage_PageCache.xml
app/etc/modules/Mage_Persistent.xml
app/etc/modules/Mage_Weee.xml
app/etc/modules/Mage_Widget.xml
app/etc/modules/Mage_XmlConnect.xml
app/etc/modules/Phoenix_Moneybookers.xml
app/etc/modules/Cm_RedisSession.xml
app/etc/config.xml
app/etc/enterprise.xml
app/etc/local.xml.additional
app/etc/local.xml.template
app/etc/local.xml
app/.htaccess
app/Mage.php
/cron.php
/cron.sh
/custom_api/
downloader/
errors/
/erp/
/favicon.ico
/feeds/
/get.php
/import/
includes/
/index.php
/index.php.sample
/install.php
js/blank.html
js/calendar/
js/enterprise/
js/extjs/
js/firebug/
js/flash/
js/index.php
js/jscolor/
js/lib/
js/mage/
js/prototype/
js/scriptaculous/
js/spacer.gif
js/tiny_mce/
js/varien/
LICENSE_AFL.txt
LICENSE.html
LICENSE.txt
LICENSE_EE*
/media/cache/
/media/captcha/
/media/customer/
/media/dhl/
/media/downloadable/
/media/.htaccess
/media/import/
/media/xmlconnect/
/media/catalog/
/media/css/
/media/email/
/media/favicon/
/media/feeds/
/media/js/
/media/wysiwyg/
/media/custom/
/media/image_icons/
/media/tmp/
/api.php
nbproject/
pear
pear/
php.ini.sample
pkginfo/
RELEASE_NOTES.txt
shell/abstract.php
shell/compiler.php
shell/indexer.php
shell/log.php
skin/adminhtml/default/enterprise
skin/frontend/default/blank/
skin/frontend/default/blue/
skin/frontend/default/french/
skin/frontend/default/german/
skin/frontend/default/iphone/
skin/frontend/default/modern/
skin/frontend/enterprise
skin/install/
/var/ait_rewrite/
/var/cache/
/var/locks/
/var/log/
/var/package/
/var/report/
/var/session/
/var/.htaccess
/var/export/
/var/default.vcl
/var/import/
.htaccess
.htpasswd
/import/
custom_api/james.php
resource_config.json
/google_feed/
/sitemap/
.sass-cache/
